<div class="wrapper">
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    Settings
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Change Your Profile Information</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Update email here">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputPassword1">Password</label>
                                        <input type="password" class="form-control" id="InputPassword1" placeholder="Update password here">
                                    </div>
                                    <div class="form-group">
                                        <label for="photo">Insert Link to Your Photo</label>
                                        <input type="input" class="form-control" id="InputPhoto1" placeholder="Update Photo">
                                    </div>
                                    <div class="form-group">
                                        <label for="street-address">Street Address</label>
                                        <input type="input" class="form-control" id="InputStreet1" placeholder="Update Street Address">
                                    </div>
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input type="input" class="form-control" id="InputCity1" placeholder="Update City">
                                    </div>
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <input type="input" class="form-control" id="InputState1" placeholder="Update State">
                                    </div>
                                    <div class="form-group">
                                        <label for="zip">Zip</label>
                                        <input type="input" class="form-control" id="InputZip1" placeholder="Update Zip">
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary">Submit Changes</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="offering_panel">
        <h1>Your Offering</h1>
        <div class="row">
            <div class="col-md-6" id="offering_scroll">
                <p>####ADD THUMBNAILS HERE####</p>
            </div>
            <div class="col-md-6">
                <h3>Add Your Items Here</h3>
                <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add</button>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-header">
                            <h5 class="modal-title">Add your produce here:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <nav class="navbar navbar-light bg-light">
                                <form class="form-inline">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search for items here" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>
                            </nav>
                            <div>
                                {{#each produce_items}}
                                    {{>items/produce_items-block}}
                                {{/each}}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="community_items_panel">
        <h1>Community Marketplace</h1>
        <div class="row">
            <div class="col-md-12" id="community_items_scroll">####THUMBNAILS OF COMMUNITY ITEMS####
            </div>
        </div>
    </div>
</div>

<footer class="footer">
        <span class="text-muted">&copy; Copyright Abundance</span>
</footer>
</div>