<div class="wrapper-two">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard" style="font-size: 24px; color: black">Dashboard<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/forum" style="font-size: 24px; color: black">Forum</a>
                    </li>
                </ul>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" style="margin-right: 5px">
                    Settings
                </button>
                <a href="/logout" type="button" class="btn btn-primary" style="color: purple">Logout</a>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="99999" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Change Your Profile Information</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Update email here">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputPassword1">Password</label>
                                        <input type="password" class="form-control" id="InputPassword1" placeholder="Update password here">
                                    </div>
                                    <div class="form-group">
                                        <label for="photo">Insert Link to Your Photo</label>
                                        <input type="input" class="form-control" id="InputPhoto1" placeholder="Update Photo">
                                    </div>
                                    <div class="form-group">
                                        <label for="street-address">Street Address</label>
                                        <input type="input" class="form-control" id="InputStreet1" placeholder="Update Street Address">
                                    </div>
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input type="input" class="form-control" id="InputCity1" placeholder="Update City">
                                    </div>
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <input type="input" class="form-control" id="InputState1" placeholder="Update State">
                                    </div>
                                    <div class="form-group">
                                        <label for="zip">Zip</label>
                                        <input type="input" class="form-control" id="InputZip1" placeholder="Update Zip">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn">Submit Changes</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn" data-dismiss="modal">Cancel changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
    <div class="container">
       
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-5">
                <button type="button" class="btn btn-primary btn" id="btn-post" data-toggle="modal" data-target="#myModal">Post</button>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" id="test">
                            <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title">Post</h4>
                            </div>
                            <div class="modal-body">
                                <form action='/post' method='post'>
                                    <div class="form-group">
                                        <label for="postTitle">Enter Title Here</label>
                                        <textarea class="form-control title_area" name='userTitle'id="post-title" rows="3"></textarea>
                                        <label for="postBody">Enter post here</label>
                                        <textarea class="form-control post_area" name='userBody' id="post-body" rows="3"></textarea>
                                    </div>
                                    <button type="submit" value="Submit" class="btn btn-outline-primary" id="submit-post">Submit</button>
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content" id="test">
                            <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title">Comments</h4>
                            </div>
                            <div class="modal-body">
                                <div class="comments-container">
                                    <div class="comments-row">

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn">All Posts</button>
            </div>
            <div class="col-md-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Topic" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit" style="color: white">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-row">
            {{#each post}}
                {{>items/post-block}}
            {{/each}}
        </div>
    </div>

<footer class="footer">
        <span class="footer-text">&copy; Copyright Abundance</span>
</footer>
</div>