<div class="wrapper">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Welcome to</h1>
        <div class="logoContainer">
        <img src="https://photos-3.dropbox.com/t/2/AABKlYCad9AehUOIj0p4ZflXBQg46fIQFHui9wsag8MU0A/12/225443344/png/32x32/1/_/1/2/abundanceLogo.png/EPGunKkBGOsjIAIoAg/8YVsZMSUyYoui_YDpQGKSi9Mhr5awHF7UiCElZIuIWM?preserve_transparency=1&size=2048x1536&size_mode=3" alt="Abundance Logo" height="300px" width="300px">
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="about_us">
            <h2>About Abundance</h2>
            <div class="row">
                <div class="col-md-6" id="about_us_text">
                    <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-6">
                    <img src="http://i64.tinypic.com/21bnkgj.jpg" alt="Abundance Team" height="75%" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="login_signup_panel">
                <div id="login_panel">
                    <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Click here to Login</a>
                    <h4> OR </h4>
                <div id="signup_panel">
                    <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Click here to Signup</a>
                </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<footer class="footer">
        <span class="text-muted">&copy; Copyright Abundance</span>
</footer>
</div>