<div class="wrapper">
<div class="row">
    <div class="col-md-4">
        <h1>Welcome to</h1>
        <div class="logoContainer">
        <img src="/assets/images/abundanceLogo.png" alt="Abundance Logo" height="200px" width="200px">
        </div>

        <span><h5 style="text-indent:50px">The Neighborhood Farmer's Market</h5></span>

    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="about_us">
            <h2>About Abundance</h2>
            <div class="row">
                <div class="col-md-6" id="about_us_text">
                    <p class="about">Abundant is your solution for helping your neighbors elimate food waste in the Bay Area.</p>
                    <p class="about">The idea is simple. You have extra limes growing in your backyard. Your neighbors have an abundance of tomatoes this year. Instead of going to the market down the street to buy produce, you can instead connect with your neighbor and exchange your extra produce that would otherwise go to waste!</p>
                    <p class="about">The creators of Abundant (pictured to the right) are a group of classmates at UC Berkeley Extension Coding Bootcamp who wanted to give the Bay Area a creative way of sharing their extra produce with their neighbors.</p>
                </div>
                <div class="col-md-6">
                    <img src="/assets/images/abundance-group.jpg" alt="Abundance Team" height="75%" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="login_signup_panel">
                <div id="login_panel">
                        <form id="signin" name="signin" method="post" action="signin">
                            <label for="email">Email Address</label>
                            <input class="text" name="email" type="text" style="width: 175px" />
                            <br>
                            <label for="password">Password</label>
                            <input name="password" type="password" />
                            <br>
                            <input class="btn btn-primary btn-lg" type="submit" value="Sign In" style="background-color: purple" />
                        </form>
                    <h4> OR </h4>
                <div id="signup_panel">
                    <a href="/signup" class="btn btn-primary btn-lg" role="button" style="background-color: purple">Click here to Signup</a>
                </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<footer class="footer">
        <span class="footer-text">&copy; Copyright Abundance</span>
</footer>
</div>