

.wrapper {
	background: url(https://www.palmbay.com/sites/default/files/product/slide/2016-04/Wines-Portfolio-v1_smaller_0.gif) no-repeat top center fixed;
	background-size: cover;
	height: auto;
	position: relative;
	width: 100%;
}

.wrapper-two {
	background: url(../images/4.jpeg) no-repeat top center fixed;
	background-size: cover;
	height: auto;
	position: relative;
	width: 100%;
}

#exampleModalLong {
  z-index: -1;
}

body, html {
	font-family: 'Rancho', cursive;
	background-color: lightgrey;
}

.modal-backdrop {
  z-index: -1;
}

.btn, .btn-primary {
  background-color: purple;
  font-family: 'Rancho', cursive;
}

.row {
	margin:0 !important;
}

.footer {
	width: 100%;
	background-color: lightgrey;
	text-align: center;
	margin-top: 20%;
	margin-bottom: 0;
	font-size: 18px;
	height: 22px;
}

.footer-text {
  color: purple;
}
/*LOGIN STYLING*/

.login_signup_panel {
	margin-top: 75%;
	background-color: lightgrey;
	opacity: .8;
	border-radius: 200px;
	padding: 10%;
	
}

h1 {
	color: green;
	font-size: 110px;
	text-align: center;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
	color: purple;
	font-size: 90px;
	text-align: center;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h4 {
	font-size: 60px;
	margin-top: 10%;
	margin-bottom: 10%;
  color: purple;
}

h5 {
  font-size: 45px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: purple;
}

.logoContainer {
/*	background-color: darkblu;
	border-radius: 200%;
	opacity: .8;
	padding: .2%;*/
	text-align: center;
}

#login_panel, #signup_panel {
	text-align: center;
}

.about_us {
	margin-top: 25%;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
	background-color: lightgrey;
	padding: 7%;
  padding-bottom: 0px;
	background: linear-gradient(0deg, lightgrey
 , transparent),
				linear-gradient(180deg, lightgrey
       , transparent);
}

p {
  color: black;
  font-size: 28px;
}


#signupSheet {
  margin-top: 1%;
  max-width: 100%;
}

.text {
  color: black;
  border: none;
  outline: none;
  height: 30px;
  width: 400px;
}

.inputBoxie {
  /*background-color: rgba(0, 0, 0, 0);*/
  color: black;
  border: none;
  outline: none;
  height: 30px;
  width: 400px;
}

/*DASH STYLING*/

#offering_scroll, #community_items_scroll {
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
}

#community_items_scroll {
  margin-top: 4%;
}

#offering_panel {
  background-color: lightgrey;
  margin-top: 10%;
  text-align: center;
  padding: 5%;
  opacity: .8;
}

#community_items_panel {
	background-color: lightgrey;
	margin-top: 10%;
	text-align: center;
	padding: 5%;
  opacity: .8;
}

.col-md-6 {
  margin-top: 4%;
}

.thumbnail {
    position:relative;
    overflow:hidden;
    margin-bottom: 5px;
    height: 150px;
    float: left;
    width: 23.7%; 
    margin: 5px;
}
.thumbnail img {
	max-width: 100%;
	height: auto;
	min-height: 100%;
} 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    max-height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}

.modal-body:after {
  content: "";
  display: table;
  clear: both;
}

#test {
	background-color: white
}

#test:after {
  content: "";
  display: table;
  clear: both;
}

/*==============================================*/
/*Forum Styling*/
/*==============================================*/
.navbar {
    margin-bottom: 1%;
    opacity: .8;
    max-width: 100%;
}

#title {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 120px;
    color: white;
    opacity: .9;
}

.btn {
    text-align: center;
    align-self: center;
}

.wrapper{
	opacity: .9;
}

#text{
	
	color: black;
	font-family: 'Poiret One', cursive;
	font-weight: bolder;
	font-size: 18px;
  	margin: 0;
}


.post-container {
  width: 1000px;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: lightgrey;
  opacity: .9;
  border-radius: 20px;
}

.post-row {
  width: 960px;
  height: 700px;
  overflow: auto;
}

.comments-container {
  width: 750px;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: lightgrey;
  opacity: .9;
  border-radius: 20px;
}

.comments-row {
  
  width: 700px;
  height: 500px;
  overflow: auto;
}

.container{
	margin-bottom: 2%;
}

hr{
	height: 1px;
	color: black;
	background-color: black;
  	margin-left: 10px;
  	opacity: .4;

}
#post-div{
  margin: 15px;
}

.modal-dialog{
  widows: 1000px;
  margin: -500;
}

#comments{
  margin: 10px;
}

iframe{
  float: right;
}
/*====================================*/
/*@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Give+You+Glory);*/
/*==============================*/