

.wrapper {
	background: url(https://www.palmbay.com/sites/default/files/product/slide/2016-04/Wines-Portfolio-v1_smaller_0.gif) no-repeat top center fixed;
	background-size: cover;
	height: auto;
	position: relative;
	width: 100%;
}

.wrapper-two {
	background: url(../images/4.jpeg) no-repeat top center fixed;
	background-size: cover;
	height: auto;
	position: relative;
	width: 100%;
}

body, html {
	font-family: 'Timmana', sans-serif;
	background-color: #c3bd91;
}

.modal-backdrop {
  z-index: -1;
}

.row {
	margin:0 !important;
}

.footer {
	width: 100%;
	background-color: #c3bd91;
	text-align: center;
	margin-top: 23%;
	margin-bottom: 0;
	font-size: 18px;
	height: 22px;
}
/*LOGIN STYLING*/

.login_signup_panel {
	margin-top: 75%;
	background-color: #c3bd91;
	opacity: .8;
	border-radius: 200px;
	padding: 10%;
	
}

h1 {
	margin-top: 35%;
	color: #94a9b2;
	font-size: 110px;
	text-align: center;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
	color: #94a9b2;
	font-size: 90px;
	text-align: center;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h4 {
	font-size: 60px;
	margin-top: 10%;
	margin-bottom: 10%;
}

.logoContainer {
	background-color: #c3bd91;
	border-radius: 200%;
	opacity: .8;
	padding: .2%;
	text-align: center;
}

#login_panel, #signup_panel {
	text-align: center;
}

.about_us {
	margin-top: 20%;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
	background-color: #c3bd91;
	padding: 3%;
	background: linear-gradient(0deg, #c3bd91, transparent),
				linear-gradient(180deg, #c3bd91, transparent);
}

/*DASH STYLING*/

#offering_scroll, #community_items_scroll {
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
}

#offering_panel, #community_items_panel {
	background-color: #c3bd91;
	margin-top: 10%;
	text-align: center;
	padding: 10%;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}

/*==============================================*/
/*Forum Styling*/
/*==============================================*/
.navbar {
    margin-bottom: 1%;
    opacity: .8;
}

#title {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 120px;
    color: white;
    opacity: .9;
}

.btn {
    text-align: center;
    align-self: center;
}

.wrapper{
	opacity: .9;
}

#text{
	
	color: black;
	font-family: 'Poiret One', cursive;
	font-weight: bolder;
	font-size: 18px;
  margin: 0;
}


.post-container {
  width: 1000px;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: lightblue;
  opacity: .9;
  border-radius: 20px;
}

.post-row {
  width: 960px;
  height: 500px;
  overflow: auto;
}

.comments-container {
  width: 750px;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: lightblue;
  opacity: .9;
  border-radius: 20px;
}

.comments-row {
  
  width: 700px;
  height: 500px;
  overflow: auto;
}



.container{
	margin-bottom: 2%;
}

hr{
	height: 20px;
	color: black;
	background-color: black;
  margin-left: 10px;

}
#post-div{
  margin: 15px;
}

.modal-dialog{
  widows: 1000px;
  margin: -500;
}

#comments{
  margin: 10px;
}



iframe{
  float: right;
}
/*====================================*/
/*@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Give+You+Glory);*/
/*==============================*/