
	<div class="thumbnail">
		<div class="caption">
			<h4 class="thumbHeadline">{{item_name}}</h4>
			<p class="thumbP">
				<button type='button' class='btn btn-secondary' id='add-button' data-id='{{id}}'>Add</button>
			</p>
        </div>
        <img src='/assets/images/icons/{{photo_url}}' alt='{{item_name}}' class='image'>
    </div>
