
	<div data-id='{{id}}' class="thumbnail">
		<div class="caption">
			<h4 class="thumbHeadline">{{item_name}}</h4>
			<p class="thumbP">
				<a href="#" class="label label-default" id="add-button">Add</a>
			</p>
        </div>
        <img src='/assets/images/icons/{{photo_url}}' alt='{{item_name}}' class='image'>
    </div>
