	<div class="thumbnail">
		<div class="caption">
			<h4 class="thumbHeadline">{{name}}</h4>
			<p class="thumbP">
				<button type='button' class='btn btn-secondary remove-button' data-id='{{id}}'>Remove</button>
			</p>
        </div>
        <img src='/assets/images/icons/{{name}}.jpg' alt='{{name}}' class='image'>
    </div>